CORE_DB_USER=path2uni
CORE_DB_PASSWORD=change_me_core
CORE_DB_NAME=path2uni_core
CORE_DB_PORT=5432

INTEL_DB_USER=path2uni_ai
INTEL_DB_PASSWORD=change_me_intel
INTEL_DB_NAME=path2uni_intelligence
INTEL_DB_PORT=5433

